/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  position: fixed;
  max-width: 1500px;
  margin: 0px auto;
  height: 150px;
  background: white;
  z-index: 999;
  transition: all .2s ease-in-out;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12); }
  @media screen and (max-width: 920px) {
    header {
      height: 150px; } }
  header.sticky {
    height: 125px; }
    header.sticky .logo {
      width: 150px;
      height: 75px; }
  header .logo {
    background: url("../images/Capital_One.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    position: absolute;
    top: 25px;
    left: 25px;
    transition: all .2s ease-in-out; }

body {
  box-sizing: border-box;
  font: 100%/1.4 Optimist, Arial, Helvetica, sans-serif;
  height: 100vh; }

.main-content {
  background: #0D74Af;
  max-width: 1500px;
  margin: 0px auto;
  padding-top: 150px;
  height: 100vh; }

section:first-child {
  padding-top: 50px; }

.card {
  position: relative;
  width: 60%;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 300px;
  background: white;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
  opacity: 0;
  transform: translateY(60px);
  transition: all .3s ease-in-out;
  cursor: pointer; }
  @media screen and (max-width: 1200px) {
    .card {
      width: 95%; } }
  .card.trigger {
    opacity: 1;
    transform: translateY(0); }
  .card #accID {
    position: absolute;
    top: 10px;
    left: 10px; }
  .card .rewards {
    position: absolute;
    bottom: 10px;
    right: 10px; }
  .card .balance {
    position: absolute;
    top: 30%;
    left: 10px;
    font-size: 40px; }
  .card .type {
    position: absolute;
    top: 10px;
    right: 10px; }
