header {
	top: 0px;
	left: 0px;
	right: 0px;
    width: 100%;
    position: fixed;
    height: 200px;
    background: white;
    // background: blue;
    .logo{
    	background:url('../images/Capital_One.svg');
    	background-size: contain;
    	background-repeat: no-repeat;
    	width: 200px;
    	height: 150px;
    	position: fixed;
    	top: 25px;
    	left: 25px;
    }
}